<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Strategies</title>
</head>
<body>
    <h1>Study Strategies</h1>
    <form method="POST">
        <select name="exam">
            <option value="1">Exam 1</option>
        </select>
        <select name="class_num">
            <option value="101">BIO 101</option>
            <option value="103">BIO 103</option>
            <option value="200">BIO 200</option>
        </select>
        <br><br>Passive Color:
        <select name="color_passive">
            <option value="r">Red</option>
            <option value="g">Green</option>
            <option value="b">Blue</option>
            <option value="c">Cyan</option>
            <option value="m">Magenta</option>
            <option value="y">Yellow</option>
            <option value="k">Black</option>
        </select>
        <br>Active Color:
        <select name="color_active">
            <option value="r">Red</option>
            <option value="g">Green</option>
            <option value="b">Blue</option>
            <option value="c">Cyan</option>
            <option value="m">Magenta</option>
            <option value="y">Yellow</option>
            <option value="k">Black</option>
        </select>
        <br><br>
        <input type="submit">
    </form>
</body>
</html>